* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.white-background {
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
header {
  padding: 25px;
}
.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
img {
  vertical-align: top;
}
.login {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 10px;
}
.login > li > a {
  color: #cccccc;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 0 15px;
}
.login > li > a:hover {
  color: black;
  transition: 0.5s all;
}
input[type="search"] {
  border: 1px solid #e8e8e8;
  font-size: 14px;
  margin: 20px 15px;
  padding: 10px;
  width: 300px;
}
input:focus {
  outline-color: #e8e8e8;
  outline-style: solid;
}
#nav-menu {
  margin: 30px 0;
}
#nav-menu > ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}
#nav-menu > ul > li {
  padding-right: 30px;
}
#nav-menu > ul > li > a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #65b13c;
  font-size: 14px;
}
#nav-menu > ul > li > a:hover {
  color: green;
  transition: 0.5s all;
}
#nav-menu > ul > li > a:focus {
  color: black;
}
.breadcrumb {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  font-size: 10px;
}
.breadcrumb > li {
  color: #848484;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 5px;
}
.breadcrumb > li > a {
  color: #0275d8;
}
.arrow {
  color: #848484;
  padding: 2px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.left-column {
  display: flex;
  flex-direction: column;
  padding: 230px 25px 230px 25px;
  flex: 1;
  margin-bottom: 50px;
}
.left-column > hr {
  color: #e8e8e8;
}
.left-column > h2 {
  font-family: Oswald;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}
h2 > a {
  color: #4186cd;
  font-weight: 300;
  text-decoration: none;
}
.feed > p {
  padding: 15px 0;
  line-height: 18px;
}
.next-feed > p {
  padding-bottom: 15px;
  line-height: 18px;
}
.third-feed > p {
  padding: 15px 0;
  line-height: 18px;
}
.feed,
.next-feed,
.third-feed {
  margin: 15px 0;
  font-size: 12px;
}
.feed,
.next-feed,
.third-feed > h4 {
  color: #2f2f2f;
}
.feed,
.next-feed,
.third-feed > p,
span {
  color: #585858;
}
.form {
  margin: 15px 0;
}
input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
}
.submit {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 30px;
}
.submit > ul > li {
  padding-bottom: 5px;
  list-style-type: none;
}
.submit > ul > li > a {
  color: #275ab7;
  text-decoration-line: none;
}
.submit > ul > li > a:hover {
  text-decoration: underline;
}
button {
  background: #d9d9d9;
  color: #3b3b3b;
  padding: 0px 30px;
  border: none;
}
button:hover {
  color: white;
  transition: 0.5s all;
}
.calendar {
  padding-top: 20px;
}
.right-column {
  display: flex;
  flex-direction: column;
  flex: 4;
  padding: 40px 25px;
  line-height: 21px;
}
.right-column > h2 {
  font-family: Playfair Display;
  color: #2f2f2f;
  font-size: 28px;
  font-weight: normal;
  padding-bottom: 10px;
}
hr {
  color: black;
}
.list {
  margin: 25px 0;
}
.list > ul {
  padding-left: 25px;
  color: #585858;
}
.text {
  margin: 25px 0;
}
.text > h3 {
  font-family: Playfair Display;
  font-weight: normal;
  font-size: 18px;
  color: #2f2f2f;
  margin-bottom: 15px;
}
.text > p {
  color: #585858;
  padding-bottom: 15px;
}
p > a {
  color: #4186cd;
}
.bottom-main {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.add {
  color: #2f2f2f;
  font-size: 11px;
}
.btn > button {
  background: white;
  font-size: 11px;
  color: #8e8d8d;
  border: 1px solid #e7e6e6;
  padding: 3px 10px;
}
.btn > button:hover {
  color: #ccc;
}
.bottom-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottom-article > article {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 25px 0;
}
.bottom-article > article > h3 {
  color: #cb6767;
  font-size: 18px;
  font-family: Oswald;
  font-weight: normal;
}
.bottom-article > article > p {
  color: #585858;
}
.footer {
  background: #f6f6f6;
}
.container-footer {
  display: flex;
  justify-content: center;
  color: #8f8f8f;
  font-size: 10px;
  padding: 10px 0;
}
.container-footer a {
  color: #8f8f8f;
  text-decoration: underline;
}
.container-footer > p {
  padding: 0 10px;
}
